Source: bforce
Section: net
Priority: optional
Maintainer: Evgeniy Kozhuhovskiy <e.kozhuhovskiy@gmail.com>
Build-Depends: debhelper (>> 3.0.0), bison (>> 1.0.0)
Standards-Version: 3.5.10

Package: bforce
Architecture: any
Depends: ${shlibs:Depends}
Description: Binkey Force FTN mailer
 FTN mailer is a program that transmit files (netmail and echomail)
 between your FTN node and other. 
 .
 Bforce can be used to communicate over tcp/ip with binkp protocol or
 with classic FTN way -- modem links. Bforce is easy to configure and
 have good support of FTN standards.

